<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
        <h1>Flower data</h1>
        <p>Flower Id: <span> <%= result.flowerId %></span></p>
        <p>Name: <span> <%= result.name %></span></p>
        <p>Stock: <span> <%= result.stock %></span></p>
        <p>Site: <span> <%= result.site %></span></p>
        <p>Farmer: <span> <%= result.farmer %></span></p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>