<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css">
   
</head>
<body>
    <main>
        <h1><%= header %></h1>
        <form action="<%= action %>" method="POST" class="inputform">
        <div>
            <p>
                <label for="flowerId">Flower Id:</label>
                <input
                 type="text"
                       id="flowerId"
                       name="flowerId"
                       size="5"
                       value="<%= flowerId.value %>" 
                       <%= flowerId.readonly %>>
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" size="25"
                value="<%= name.value %>" <%= name.readonly %> >
            </p>
            
            <p>
                <label for="stock">Stock:</label>
                <input type="text" id="stock" name="stock" size="10"
                value="<%= stock.value %>" <%= stock.readonly %> >
            </p>
            <p>
                <label for="site">Site:</label>
                <input type="text" id="site" name="site" size="40"
                value="<%= site.value %>" <%= site.readonly %> >
            </p>
            <p>
                <label for="farmer">Farmer:</label>
                <input type="text" id="farmer" name="farmer" size="40"
                value="<%= farmer.value %>" <%= farmer.readonly %> >
            </p>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>